html{
    box-sizing: border-box;
}
header{
    height: 600px;
    background-color: blue;
    position: relative;
    padding: 1rem;
}
main{
    height:600px;
    margin: 1rem auto;
    width: 80%;
}
main section {
    /* margin-top: 6rem; */
    padding: 2rem;
}
footer{
    height:600px
}

nav{
    text-align: center;
}

body > header > div:nth-child(2) > p {
    margin-top: -30px;
    text-align: right;

}

body > header > div:nth-child(3)  {
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    width: 200px;
    margin-left: 1475px;
    margin-top: -40px;
}

body > header > div:nth-child(3) > img {
    height: 20px;
    width: 20px;
    margin-left: 180px;
}

nav hr{
    color: black;

}


nav a {
    color: red;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
}
nav ul {
    list-style-type: none;
    position: absolute;
    top: 0.7rem;
    left: 1rem;
}
nav li {
    display: inline;
    margin-right: 0.5rem;
}
.home img {
    float: center;
    margin-right: 3rem;
    width: 1200px;
}


    
